<h1>Settings</h1>
<form>
	<ul>
    <li>change email: </li>
    <li>change password:</li>
    <br>
    <li>brownies are yum and I need some: </li>
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	    Yes
	  </label>
	  <label>
	    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	    Yes
	  </label>
	</ul>
</form>